<html>
<head>
    <meta charset="utf-8" />
    <title>PuzzleRoom Form</title>
</head>
<body>
    <h1>PuzzleRoom Form</h1>

    {# novalidate: 브라우저에게 유효성검사 하지마! 라는 뜻 #}
    <!-- 무조건 method="post"이게 있어야 장고에서 post로 받는다! 생략하거나 하면 안 된다! -->
    <form action="" method="post" 
            enctype="multipart/form-data"
            novalidate>
        {% csrf_token %}
        <table>
            {# 장고 템플릿 태그 중에 csrf_token 호출 #}
            {# 장고 템플릿 태그 : 템플릿 내에서 사용하는 함수 #}

            {# 폼 필드 스타일링 #}
            {# 1) 직접 HTML 구성 #}
            {# 2) FORM 필드를 하나씩 직접 활용 #}
            {# 3) 부트스트랩, 크리스피 등 활용 #}
            {{ form.as_table }}
        </table>
        <input type="submit">
    </form>
        

</body>
</html>