<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title>Blog</title>
</head>
<body>
    {# 모델명이 길더라도 다 소문자로 바뀜 #}

    <h1>{{ post.title }}</h1>

    {# 장고 템플릿 필터 #}
    {{ post.content | linebreaks}}

    <hr>
    {# 이 URL에 오타가 있으면 안 된다! #}
    <a href="/blog/{{ post.id }}/comments/new">댓글 쓰기</a>
    <hr>
    {% for comment in comment_list %}
        <div>
            {{ comment.content }}

            {% url 'blog:comment_edit' post_pk=post.pk pk=comment.pk as comment_edit_url %}

            <a href="{{ comment_edit_url }}">수정</a>
        </div>
    {% endfor %}

</body>
</html>