<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title>Blog</title>
</head>
<body>
    <h1>Blog Post List</h1>

    {{ variable_name }}

    {% for post in post_list %}
        <div>
            <a href="{% url 'blog:post_detail' pk=post.pk as post_url %}">{{ post.title }}</a>
            <!-- 위아래 똑같은 뜻! -->
            <a href="{{ post_url }}">{{ post.title }}</a>
            <!-- 위아래 똑같은 뜻! -->


            <a href="/blog/{{ post.id }}/">
                {{ post.title }}
            </a>
            
            
        </div>
    {% endfor %}

    <a href="{% url 'blog:post_new' %}">new post</a>

</body>
</html>